---
Checks:          'clang-diagnostic-*,clang-analyzer-*,-clang-analyzer-alpha*,clang-analyzer-alpha.security.*,clang-analyzer-alpha.deadcode.*,clang-analyzer-alpha.core.*,google-runtime-memset,llvm-include-order,llvm-include-order,misc-assert-side-effect,misc-definitions-in-headers,misc-macro-parentheses,misc-macro-repeated-side-effects,misc-argument-comment,misc-non-copyable-objects,misc-unused-parameters,misc-swapped-arguments,readability-else-after-return,readability-inconsistent-declaration-parameter-name,readability-simplify-boolean-expr'
HeaderFilterRegex: '^.*/_tmp_/.*$'
AnalyzeTemporaryDtors: false
User:            kontr
CheckOptions:
#  - key:             readability-braces-around-statements.ShortStatementLines
#    value:           '0'
#  - key:             readability-function-size.StatementThreshold
#    value:           '800'
  - key:             misc-assert-side-effect.AssertMacros
    value:           assert
  - key:             misc-assert-side-effect.CheckFunctionCalls
    value:           '0'
  - key:             misc-definitions-in-headers.UseHeaderFileExtension
    value:           '1'
    